name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 150 # vcpkg might take time from cold cache for 100 mins minimum.
    strategy:
      matrix:
        BUILD_TYPE: ["Debug"] # "Release"
        os: [ windows-latest, ubuntu-latest ]
    steps:
    - uses: actions/checkout@v4

    - name: set env symcrypt
      shell: pwsh
      run: echo "SYMCRYPT_LIB_PATH=${PWD}/build/_deps/symcrypt_release-src/dll" >> $env:GITHUB_ENV

    - name: setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 
          8.0.x

    # install flatc
    - name: Install flatc windows
      if: runner.os == 'Windows'
      run: |
        winget install flatbuffers --accept-package-agreements --accept-source-agreements --disable-interactivity
        echo "$env:LOCALAPPDATA\Microsoft\WinGet\Packages\Google.FlatBuffers_Microsoft.Winget.Source_8wekyb3d8bbwe" >> $env:GITHUB_PATH
    
    - name: Install flatc ubuntu
      if: runner.os == 'Linux'
      run: |
        wget https://github.com/google/flatbuffers/releases/download/v25.2.10/Linux.flatc.binary.clang++-18.zip
        unzip Linux.flatc.binary.clang++-18.zip
        sudo mv flatc /usr/local/bin/

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: 1.90.0
        components: rustfmt, clippy

    - name: Setup vcpkg (it does not install any package yet)
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: e3ed41868d5034bc608eaaa58383cd6ecdbb5ffb
      env:
          VCPKG_BINARY_SOURCES: default,rw

    - name: Set up binary cache
      uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-binary-cache-

    # - name: Run CMake consuming CMakePreset.json and run vcpkg to build dependencies
    #   uses: lukka/run-cmake@v10
    #   with:
    #     # This is the name of the CMakePresets.json's configuration to use to generate
    #     # the project files. This configuration leverages the vcpkg.cmake toolchain file to
    #     # run vcpkg and install all dependencies specified in vcpkg.json.
    #     configurePreset: 'default'
    #     # This is the name of the CMakePresets.json's configuration to build the project.
    #     buildPreset: 'build'
    #     buildPresetAdditionalArgs: "['--config', '${{ matrix.BUILD_TYPE }}']"
    #     testPreset: 'test'
    #     testPresetAdditionalArgs: "['--config', '${{ matrix.BUILD_TYPE }}']"

    - name: run cmake
      run: > 
        cmake . -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_TYPE }} -B build
    - name: run build
      run: cmake --build build --config ${{ matrix.BUILD_TYPE }}
      env:
        Platform: "" # for dotnet build var not mix with cpp

    - name: Run cargo check
      run: cargo check --all-targets

    - name: Run cargo fmt
      run: cargo fmt --all -- --check
    
    - name: Run cargo clippy
      run: cargo clippy --all-targets -- -D warnings

    - name: run all rust unit tests
      run: cargo test --all-targets

    - name: dotnet format
      run: dotnet format --verify-no-changes

    - name: run all dotnet tests
      run: dotnet test